* {
  /* remove the whitespace */
  margin:0;
  padding:0;
}

html, body {
  /* set to full screen */
  width:100%;
  height:100%;
  margin: 0;
  background: black;
  cursor: crosshair;
  /* font-family: raleway; */
}

canvas {
  /* remove the scrollbars */
  display:block;
}

.lives {
  position: fixed;
  color: white;
  margin-left: .50rem;
  margin-top: 1.50rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.specialMeter {
  background-color: blue;
  height: 15px;
  width: 150px;
  margin-left: .50rem;
  margin: 0 auto;
  border: solid 1px #aaa;
  position: fixed;
  color: white;
  margin-top: 3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.specialMeter2 {
background-color: lightblue;
width: inherit;
height: 28px;
position: relative;
bottom: 56px;
}

.health-bar-container {
position: fixed;
background: none;
border: 1px solid white;
width: 200px;
height: 20px;
transform: translateX(-50%) translateY(-390%);
}

.health-bar {
display: inline-block;
width: 100%;
height: 20px;
background-color: #33ee33;
}

.special-bar-container {
  position: fixed;
  background: none;
  border: 1px solid white;
  width: 100px;
  height: 20px;
  margin-left: .50rem;
  margin-top: 3rem;
  }
  
  .health-bar2 {
  display: inline-block;
  width: 0%;
  height: 20px;
  background-color: blue;
  }