* {
  /* remove the whitespace */
  margin:0;
  padding:0;
}


html, body {
  /* set to full screen */
  width:100%;
  height:100%;
  margin: 0;
  background: black;
  cursor: crosshair;
  overflow: hidden;
  
  /* font-family: raleway; */
}

canvas {
  /* remove the scrollbars */
  display:block;
  width: 100%;
  height: 100%;
}

.lives {
  position: fixed;
  color: white;
  margin-left: .50rem;
  margin-top: 1.50rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.specialMeter {
  background-color: blue;
  height: 15px;
  width: 150px;
  margin-left: .50rem;
  margin: 0 auto;
  border: solid 1px #aaa;
  position: fixed;
  color: white;
  margin-top: 3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.specialMeter2 {
background-color: lightblue;
width: inherit;
height: 28px;
position: relative;
bottom: 56px;
}

.health-bar-container {
position: fixed;
background: none;
border: 1px solid white;
width: 200px;
height: 20px;
transform: translateX(-50%) translateY(-390%);
}

.health-bar {
display: inline-block;
width: 100%;
height: 20px;
background-color: #33ee33;
}

.special-bar-container {
  position: fixed;
  background: none;
  border: 1px solid white;
  width: 100px;
  height: 20px;
  margin-left: .50rem;
  margin-top: 3rem;
  }
  
  .health-bar2 {
  display: inline-block;
  width: 0%;
  height: 20px;
  background-color: blue;
  }

  .dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: blue;
  }

  